In [1]:
# List of number strings
numbers = ["3", "25", "789", "-4", "+66"]

# zfill to pad left
# ljust to pad right
print("Original | zfill (5) | zfill + ljust (8)")
print("-------------------------------------------")

for num in numbers:
    left_padded = num.zfill(5)               # Pad zeros to the left
    full_padded = left_padded.ljust(8, 'I')  # Then pad I to the right
    print(f"{num:<8} | {left_padded:<10} | {full_padded}")

Original | zfill (5) | zfill + ljust (8)
-------------------------------------------
3        | 00003      | 00003III
25       | 00025      | 00025III
789      | 00789      | 00789III
-4       | -0004      | -0004III
+66      | +0066      | +0066III

In [3]:
m=""
mi="aaabbbcccda"
b=set(mi)
for x in b:
    m+=x+str(mi.count(x))
print(m)

a4c3d1b3

In [6]:
n=int(input("enter a number"))
l=['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']
print(l[n-1].center((n*2)-1,'-'))

enter a number3
--c--

In [7]:
n=int(input("enter a number"))
l=chr(96+n)
print((n-1)*'-'+l+(n-1)*'-')

enter a number3
--c--

In [8]:
m=int(input("enter a number m"))
n=int(input("enter a number n"))
list1=['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']
if(1<=n<=26) and n<m:
    newline=''.join(list1[n-1:m])
    print(newline[::-1])
else:
    print("invalid input")

enter a number m5
enter a number n1
edcba

In [10]:
n=int(input("enter a number "))
y=""
for i in range (n):
    y=y+chr(96+n)
    print(y)
    n-=1

enter a number 3
c
cb
cba

In [11]:
n=int(input("enter a number"))
sum=0
while(n>0):
    m=n%10
    sum+=m
    n=n//10
print(sum)

enter a number123
6

In [13]:
# number reverse
n=input("enter number :")
n=n.rstrip('0')
L=[]
length=len(n)
while (length >0):
        L. append(n[length -1])
        length-=1
print("". join(L))

enter number :5980000
895

In [15]:
n=input("enter number :")
n=n.rstrip('0')
n=n[::-1]
print(n)

enter number :45435000
53454

In [17]:
# Write factorial problems
import sys
n=int(input("enter a number "))
if(n==0):
    print(1)
    sys.exit(0)
facto=1
while(n>0):
    facto=facto*n
    n-=1
print(facto)

enter a number 34
295232799039604140847618609643520000000

In [18]:
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n - 1)

n = int(input("Enter a number: "))
print("Factorial is:", factorial(n))

Enter a number: 5
Factorial is: 120

In [19]:
# sum by recursion
def recur(digit):
    if digit<=0:
        return 0
    return (digit%10)+recur(digit//10)
num=int(input("num:"))
result=recur(num)
print(  result )

num:123
6